body{
    background: #F3F5FC;

}

header{
    width: 100%;
    height: auto;
}

header #logo{
    display: none;
}

header #top{
    margin-left: 2.5vh;
    margin-top: 2vw;
}
.contenedor{
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
}


.zonat1{
    display: flex;
    flex-direction: column;
    margin-left: 9vw;
}
.zonat1 textarea{
    width: 80vw;
    height: 30vh;
    border: none;
    resize: none;
    padding: 2vw;
}

.zonat1t textarea::placeholder{
    color: #0A3871;
    font-size: calc(1.5em + 1vh);
    opacity: 1;
}

.zonat1t textarea:focus::placeholder{
    color: transparent;
}


.botones{
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin-top: 1vh;
    margin-left: 1vw;
    gap: 1vh;
}
.botones{
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin-top: 1vh;
    margin-left: 1vw;
    gap: 1vh;
}

#tip2{
    color: #495057;
    font-size: calc(0.5em + 1vw);
    margin-top: 1vh;
}






#bt-copiar{
    display: none;
}

#bt-codificar{
    background: #0A3871;
    border-radius: 10px;
    height: 6.5vh;
    cursor: pointer;
}

#bt-codificar span{
    text-align: center;
    color: #FFFFFF;
}

#bt-descodificar{
    border: 1px solid #0A3871;
    border-radius: 10px;
    height: 6.5vh;
    cursor: pointer;
}

#bt-descodificar span{
    text-align: center;
    color: #0A3871;
}

.caja-textos{
    display: flex;
    flex-direction: column;
    gap: 3vh;
    margin-top: 8vh;
    align-items: center;
}
.rv2 img{
    display: none;
}

.rv2 textarea{
    display: none;
}

.rv2{
    background: #FFFFFF;
    width: 90vw;
    height: 30vh;
    margin-top: 3vh;
    margin-left: 5vw;
    border-radius: 2vh;
}
.rv2 textarea{
    background: none;
    width: 80vw;
    height: 70%;
    margin-top: 0vh;
    margin-left: 5vw;
    display: none;
    border: none;
    resize: none;
    color: #495057;
    
}

#bt-copiar{
    border: 1px solid #0A3871;
    border-radius: 10px;
    height: 6.5vh;
    width: 80vw;
    margin-top: 1vh;
    margin-left: 5vw;
    cursor: pointer;
}

#tip3{
    color: #343A40;
    width: 60vw;
    text-align: center;
    font-size: calc(1.5em + 1vw);

}

#tip4{
    width: 60vw;
    text-align: center;
    font-size: calc(1em + 1vw);
    color: #495057;
}

@media (min-width: 1023px){

    header #top{
        display: none;
    }
    header #logo{
        display: block;
        position: relative;
        top: 3vh;
    }

    .contenedor{
        flex-direction: row;
        margin-top: 5.4vw;
    }

    .zonat1 textarea{
        width: 50vw;
        height: 50vh;
        border-radius: 5%;
        color:#0A3871;

    }

    .botones{
        display: inline-block;
        flex-direction: row;
        width: 45vw;
    }
    
    #bt-codificar{
        position: relative;
        height: 8vh;
        width: 20vw;
        left: 2vw;
    }

    #bt-descodificar{
        position: relative;
        height: 8vh;
        width: 20vw;
        left: 10vw;
    }


    .rv2{

        position: absolute;
        width: 25vw;
        height: 95vh;
        bottom: 3vh;
        margin-left: 73vw;

    }

    .rv2 img{
        display: block;
        width: 100%;
        margin-top: 4vw;
    }

    .rv2 textarea{
        width: 23vw;
        height: 75%;
        margin-top: 3vh;
        margin-left: 1vw;
        display: none;
        border: none;
        resize: none;
        color: #495057;
        
    }

    .caja-textos{
        margin-top: 1vh;
        align-items: center;
    }

    #tip2{
        font-size: calc(0.1em + 1vw);
        margin-top: 0.5vh;
    }

    #tip3{
        width: 10vw;
        text-align: center;
        font-size: calc(.2em + 1vw);
    
    }
    
    #tip4{
        width: 15vw;
        text-align: center;
        font-size: calc(.2em + 1vw);
    }

    #bt-copiar{
        border: 1px solid #0A3871;
        border-radius: 10px;
        height: 8vh;
        width: 20vw;
        margin-top: 5vh;
        margin-left: 2.5vw;
        cursor: pointer;
    }
}

